/*-------------------------------------------------------------*/
                        /* FONTS */
/*-------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;500;700&display=swap');

/*-------------------------------------------------------------*/
                        /* HEADER */
/*-------------------------------------------------------------*/

header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: #31A5AC;
  text-align: center;
}

/*-------------------------------------------------------------*/
                        /* MAIN */
/*-------------------------------------------------------------*/

.main-field {
  overflow: hidden;
}

.calculation-field {
  background-color: #F8F8F8;
}

.calculation-field h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 22px;
}

.calculation-field p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  outline: 0;
  border: 1px solid #DCDCDC;
  background-color: #DCDCDC;
}

.save input {
  width: 100px;
  height: 42px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  outline: 0;
  border: 1px solid #DCDCDC;
  background-color: #DCDCDC;
}

.btn-style {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  background-color: #59A5FF;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  outline: 0;
  border: 0;
}
