/*-------------------------------------------------------------*/
                        /* FONTS */
/*-------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;500;700&display=swap');

/*-------------------------------------------------------------*/
                        /* HEADER */
/*-------------------------------------------------------------*/

header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: #31A5AC;
  text-align: center;
}

/*-------------------------------------------------------------*/
                        /* MAIN */
/*-------------------------------------------------------------*/

.calculation-field {
  background-color: #F8F8F8;
}

.calculation-field h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 22px;
}

.calculation-field p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  outline: 0;
}